*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(30deg, rgb(0, 0, 0), rgb(63, 55, 201),rgb(67, 96, 240), rgb(63, 55, 201), rgb(0, 0, 0));
}
.container{
    width: 90%;
    max-width: 1400px;
    margin-left: 15%;
    margin-right: 20%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenido-juegos{
    display: flex;
    margin-left: 300px;
}
.contenido-imagen >img{
    animation: ease-in animacion 0.5s;
    margin-left: 50px;
}
@keyframes animacion{
    0%{
      transform: scale(0);
    }
    100%{
     transform: scale(1);
    }
}
.ventana-Mayor{
    margin-top: 15%;
    width: 1000px;
    height: 500px;
    background-color: rgb(22, 21, 21);
    margin-bottom: 20px;
    border-radius: 20px;
}
.ventana-inferior{
    margin-top: 15%;
    width: 1000px;
    height: 500px;
    background-color: gray;
    margin-bottom: 100px;
    border-radius: 20px;
}
nav{
    width: 100%;
    height: 150px;
    background-color: #1c8bc2;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
}
.nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
}
.enlaces-header{
    display: flex;
    font-weight: 300;
    margin: auto;
    transition: all ease-in-out;
}
.nav .enlaces-header a{
 color: #000000;
 text-decoration:none;
 margin-left: 20px;
 padding: 12px;
 border-radius: 10px;
}
.nav .enlaces-header a:hover{
    color: #FFF;
    background-color: #3023ec;
    border-color: #d03d3d;
    transition: all ease-in-out .5s;
}
.title{
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 30%;
    text-align: center;
    margin: solid;
    background:linear-gradient(30deg, rgb(0, 0, 0), rgb(63, 55, 201),rgb(47, 68, 172), rgb(63, 55, 201), rgb(0, 0, 0));
    border-radius: 30px;
}
.educacion{
    background-color: #f2f2f2;
}
.content-educacion{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-around;
}
.articulo{
    width: 340px;
    height: 340px;
    background-color: #FFF;
    margin: 50px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition:all ease-in-out 0.5s;
    text-align: center;
    align-items: center;
}
.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    color: #fff;
    background-color: #000000;
    transition: .5s;
}
.articulo>h3{
    font-size: 24px;
    margin: 10px;
    text-transform: uppercase;
}
.articulo>a{
    text-decoration: none;
    color: #ffffff;
}
.articulo >a:hover{
    color: #FFF;
    transition: 3s;
}
.articulo:hover{
    transition: all 1s ease-in-out;
    border-radius: 50%;
}
.experiencia {
    background-color: #d03d3d;
    color: #fff;
}

.content-experience{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-around;
}

.experience {
    width: 32%;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #565759;
    margin-top: 50px;
    padding: 20px;
}

.experience:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.experience img {
    height: 70px;
    width: auto;
}

.experience p {
    text-align: justify;
}

.experience h3 {
    margin-bottom: 15px;
}
.content-juegos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: "poppins",sans-serif;
}
.content-juegos{
    position: relative;
    background: #010615;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-left: 10px;
    transition: 0.5s;
}
.content-juegos :hover{
    height: 400px;
}
.content-juegos::before,
.content-juegos::after{
    content: "";
    background: linear-gradient(45deg, #ff05ac 0%, #ff05ac 18%, aqua 100%);
    position: absolute;
    inset: -2px;
    z-index: -1;
}
.content-juegos::after{
    filter: blur(40px);
    z-index: -2;
}